/* Jesper Engström FEND16

sätter lite grundvärden på html o body, tar bort marginaler mm*/

html, 
body {
	width: 100%;
	height:100%;
	min-height: 100%;
	margin:0;
	padding:0;
	position:absolute;
	font-size: 14px;
}

body {
	box-sizing: border-box;
	font-family: 'Didact Gothic', sans-serif;
	background: #aedcd7;
	overflow-y: scroll;
	/* background-size: cover; */
}

/* tar bort defaultutseendet för länkar och lägger till en liten effekt på dem i menyn mm*/

a {
	text-decoration: none;
	color:#000;
	transition: 0.1s;
}

.navlinks a:hover, 
.body-text a:hover {
	border-bottom: 3px solid #e65f68;
}


/* två bakgrundsbilder som länkas till bodyn på olika sidor*/

.bg-image1 {
	background-image: url("images/plant4_green.jpg");
}

.bg-image2 {
	background-image: url("images/plant5_green.jpg");
}

.bg-image1, 
.bg-image2 {
	width: 1480px;
	height: 400px;
}

/* containerklass som samlar menyn högst upp på varje sida*/

.top-navbar {
	background: #fff;
	position: fixed;
	display: flex;
	align-items: center;
	top:0;
	width: 100%;
	height: 5.5rem;
	z-index: 9999;
	transition: height 0.5s;
}

/* utseendet på loggan högst uppe till vänster*/

.logo-top-left {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 90%;
	margin: 0 2.5vw;
}

.logotext {
	font-family: 'Oleo Script', cursive;
	font-size: 2.5rem;
	color: #459d8d;
	text-transform: lowercase;
	margin: 0 1rem;
}


/* props för ul-listan som utgör menyn*/

.navlinks {
	height:90%;
	width: 75%;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
}

/* ...och alla individuella li-element där*/

.navlinks li {
	display: block;
	list-style-type: none;
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: 700;
	margin: 1.2vw 1.2vw;
	padding-top: 0.25rem;
}

#right {
	margin-left:auto;
}

/* huvududblocket på sidan*/


.content-box {
	width: 75%;
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 5.5rem;
	margin-bottom: 0;
	padding: 1.5rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*props för rubrikbox o rubrik som förekommer på varje sida */

.header-box {
	margin: 4.5rem 0 1.5rem 0;
	height: 5rem;
}

.header {
	margin:0;
	white-space: nowrap;
	text-align: center;
	font-size: 3.5rem;
	color:#fff;
}

/* en lite mindre container som innehåller kolumnerna som sidorna består av*/

.smaller-content-box{
	margin:0;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/* sidorna har 1, 2, eller 3 kolumner, hittade inget smartare sätt att göra det förutom flexbox o tre klasser med olika bredd*/


.two-column {
	width: 50%;
	display: flex;
	flex-direction: column; 
}

.three-column {
	width: 30%; 
	min-width: 230px;
	min-height: 150px;
}

/* den basic textboxen som används överallt*/

.text-box {
	padding: 1rem 2rem;
	border-radius: 5px;
	margin: 1rem;
	opacity: 0.80;
	display:flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

.text-box:hover {
	opacity: 0.99;
}

/* boxar som ska ha vit text*/

.align-top {
	align-items: flex-start;
}

.text-box, 
.table-text {
	background: #fff;
}


/* lite olika props för olika textformaterinar. Vissa props delas av många medan andra är idndividuella, därav flera selektorer*/

.body-text, 
.table-text {
	margin:0 1rem;
	padding: 0.5rem;
	font-size: 1.4rem;
	line-height: 2rem;
	color: #767676;
	margin-bottom: 0.5rem;
}

.table-text {
	font-size: 1.25rem;
	line-height: 1.5rem;
} 

.plantify-text, 
.table-head {
	color: #459d8d;
	font-weight: 700;
}

/* ...tex citaten som finns längst ner på varje sida*/

.quote-text {
	margin: 0;
	font-size: 1.75rem;
	text-align: right;
	color: #fff;
}

.quotebox {
	width: 75%;
	margin-bottom:1rem;
}

/* och den röda texten här o där */

.author, 
.table-foot {
	font-size: 1.25rem;
	color: #e65f68;
}

/* understruken text */

.underline {
	width: 80%;
	border-bottom: 3px solid #aedcd7;
}

/* props för tabellernas element*/

.table-text {
	margin: 0.5vw 1vw;
	padding: 0.5vw 1vw;
}
	

.plantify-table {
	/*background:#5bb2a2; */
	align-self: flex-start;
}

.table-head {
	background:#aedcd7;
	font-size: 1.40rem;
}


/* de här tre färgerna används bara en gång, på tema-sidan*/

.aloha {
	background: #acd290;
}

.sibiria {
	background:#9a9a9a; 
}

.nordic {
	background: #8fac94;
}

.white-text {
	color:#fff;
}

.aloha, 
.sibiria, 
.nordic {
	padding: 0.8vw;
}

/* props för bilderna på grundarna*/

figure {
	margin: autó;
	white-space: nowrap;
}

.founder-img {
	width: 125px;
	height:125px;
	border-radius: 100%;
	margin:1vw;
}

/*och knappen + formulär på kontaktsidan*/

textarea {
	box-sizing: border-box;
	width: 100%;
}

.btn {
	background: #e65f68;
	color:#fff;
	border:none;
	margin:1rem;
	padding:1vw 2vw;
	transition: .5s
}

button:hover {
	background:#e2989b;
}
/* props för svg-loggan, lite animationer o grejer */

svg {
	width: 4.5em;
	height: 4.5em;
}

svg:hover #logo-part1 {
	fill: #6fc8b8;
}

svg:hover #logo-part2 {
	fill: #b54a51;
}

svg:hover #logo-part3 {
	fill: #cc535b;
}

svg:hover #logo-part4 {
	fill: #e55f68;
}


#logo-part1 { 
	transition: 1s; 
}

#logo-part2 { 
	transition: 1.1s; 
}

#logo-part3 { 
	transition: 1.2s; 
}

#logo-part4 { 
	transition: 1.3s; 
}

/* media querys för responsivitet */

@media (max-width: 975px) {

	.smaller-content-box {
		flex-direction: column;
		justify-content:center;
		align-items: center;
	}

	.two-column {
		width: 100%

	}

	.text-box {
		width: 40vw;
		min-height: 100px;
	}

	.header-box {
		margin-bottom: 2rem;
		width: 90vw;
	}
	.header {
		font-size: 3rem;
		white-space: normal;
	}
}

@media (max-width: 780px) {
	.header {
		font-size: 2.5rem;
	}
}

@media (max-width: 700px) {

	.navlinks {
		flex-wrap: wrap;
	}

	.logotext {
		display: none;
	}
	
	li:first-child {
		display: none;
	}
}

@media (max-width: 510px) {
	#right {
		margin-left: 1.2vw;
	} 

	.top-navbar {
		height: 7.5rem;
	}

	.text-box {
		padding: 2.5vw;
		width:75vw;
	}

	.body-text {
		padding: 2vw;
		margin:1.5vw;
	}

	figure {
		white-space: normal;
	}

	.two-column .text-box {
		padding: 2vw;
		margin: auto;
		margin-top: 2vw;
		width: 100%
	}
}

@media (max-width: 400px) {
	.content-box {
		width: 95%;
		margin-left:auto;
		margin-right:auto;
	}

	.header {
		font-size: 2rem;
	}
}